<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:p="http://primefaces.org/ui">
	<h:head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<script name="jquery/jquery.js" library="primefaces"></script>
		<title>А теперь о погоде</title>
	</h:head>


	<h:form id="form">
	<p:growl id="data" showDetail="true"/>

			<p:outputLabel style="margin-top: 10px" value="#{msgs['meteoData.wholeList']}"> </p:outputLabel>
			<p:dataTable editable="true" id="wholeList" style="margin-top: 20px" value="#{meteoDataController.list}" var="meteoData">

				<p:ajax event="rowEdit" listener="#{meteoDataController.onRowEdit}" update=":form:data" />
				<p:ajax event="rowEditCancel" listener="#{meteoDataController.onRowCancel}" update=":form:data" />




				<p:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['meteoData.id']}"> </h:outputText>
					</f:facet>
					<p:cellEditor>
						<f:facet name="output"><h:outputText value="#{meteoData.id}" /></f:facet>
						<f:facet name="input"><p:inputText value="#{meteoData.id}" style="width:100%"/></f:facet>
					</p:cellEditor>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['meteoData.meteoStationName']}"> </h:outputText>
					</f:facet>
					<p:cellEditor>
						<f:facet name="output"><h:outputText value="#{meteoData.meteo_station_id}" /></f:facet>
						<f:facet name="input"><p:inputText value="#{meteoData.meteo_station_id}" style="width:100%"/></f:facet>
					</p:cellEditor>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['meteoData.timestamp']}"> </h:outputText>
					</f:facet>

					<p:cellEditor>
						<f:facet name="output"><h:outputText value="#{meteoData.read_timestamp}" /></f:facet>
						<f:facet name="input"><p:inputText value="#{meteoData.read_timestamp}" style="width:100%" type="date"/></f:facet>
					</p:cellEditor>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['meteoData.temperature']}"> </h:outputText>
					</f:facet>

					<p:cellEditor>
						<f:facet name="output"><h:outputText value="#{meteoData.temperature}" /></f:facet>
						<f:facet name="input"><p:inputText value="#{meteoData.temperature}" style="width:100%"/></f:facet>
					</p:cellEditor>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['meteoData.pressure']}"> </h:outputText>
					</f:facet>

					<p:cellEditor>
						<f:facet name="output"><h:outputText value="#{meteoData.pressure}" /></f:facet>
						<f:facet name="input"><p:inputText value="#{meteoData.pressure}" style="width:100%"/></f:facet>
					</p:cellEditor>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['meteoData.windDirection']}"> </h:outputText>
					</f:facet>

					<p:cellEditor>
						<f:facet name="output"><h:outputText value="#{meteoData.wind_direction}" /></f:facet>
						<f:facet name="input"><p:inputText value="#{meteoData.wind_direction}" style="width:100%"/></f:facet>
					</p:cellEditor>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['meteoData.windSpeed']}"> </h:outputText>
					</f:facet>

					<p:cellEditor>
						<f:facet name="output"><h:outputText value="#{meteoData.wind_speed}" /></f:facet>
						<f:facet name="input"><p:inputText value="#{meteoData.wind_speed}" style="width:100%"/></f:facet>
					</p:cellEditor>
				</p:column>
				<p:column style="width:32px">
					<p:rowEditor />
				</p:column>
			</p:dataTable>
	</h:form>


	<h:form>
		<p:commandButton value="Скачать отчёт в виде JSON" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);" icon="ui-icon-arrowthick-1-s">
			<p:fileDownload value="#{meteoDataController.generateJson()}" />
		</p:commandButton>
	</h:form>

	<script type="text/javascript">
		function start() {
			PF('statusDialog').show();
		}

		function stop() {
			PF('statusDialog').hide();
		}
	</script>



	<h:form style="margin-top: 20px; margin-left: 20px">
		<p:growl  id="messages" />
		<h:outputText value="Добавить строку" />
		<p:panelGrid columns="2">
			<p:outputLabel value="#{msgs['meteoData.meteoStationName']}" />
			<p:inputText value="#{meteoDataController.meteoData.meteo_station_id}" />
			<p:outputLabel value="#{msgs['meteoData.timestamp']}" />
			<p:calendar value="#{meteoDataController.meteoData.read_timestamp}" />
			<p:outputLabel value="#{msgs['meteoData.temperature']}" />
			<p:inputText value="#{meteoDataController.meteoData.temperature}" />
			<p:outputLabel value="#{msgs['meteoData.pressure']}" />
			<p:inputText value="#{meteoDataController.meteoData.pressure}" />
			<p:outputLabel value="#{msgs['meteoData.windDirection']}" />
			<p:inputText value="#{meteoDataController.meteoData.wind_direction}" />
			<p:outputLabel value="#{msgs['meteoData.windSpeed']}" />
			<p:inputText value="#{meteoDataController.meteoData.wind_speed}" />
		</p:panelGrid>
		<p:commandButton value="Добавить" action="#{meteoDataController.register}" update="messages" ajax="true" />
	</h:form>

	</html>